// app global css in SCSS form
.main-layout .q-page {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.q-list {
  padding-top: 21px;
}

.q-item__section {
  padding: 7px;
  font-size: 16px;
}

.markdown-view {
  img {
    max-width: calc(100% - 14px);
    margin: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  // .main-layout {
  //   background-color: black;
  //   color: white;
  // }
  // .q-page, .q-card {
  //   background-color: black;
  //   color: white;
  // }
  .q-list--separator > .q-item-type + .q-item-type {
    border-top: solid 1px rgb(128, 128, 128);
  }
}
